{% extends 'mailmanager/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.subject }}</h4>
            </div>
            <div class="card-body">
                <p class="mt-3 mb-4 text-start m-3">{{ object.body }}</p>
                {% if user.is_authenticated and user == object.owner or user.is_superuser %}
                <div class="btn-group">
                    <a type="button" class="btn btn-outline-primary"
                       href="{% url 'mailmanager:message_update' message.pk %}">
                        Редактировать
                    </a>
                    <a type="button" class="btn btn-outline-danger"
                       href="{% url 'mailmanager:message_delete' message.pk %}">
                        Удалить
                    </a>
                </div>
                {% endif %}
                <div class="card-footer text-body-secondary mt-5">
                    <a href="{% url 'mailmanager:message_list' %}">Вернуться к списку сообщений</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
